<h3>Bienvenue sur {PROJECT_NAME}.</h3>
<br/>
Visitez le lien suivant afin d'activer votre compte:
<br>
<a href="{ACTIVATION_LINK}" target="_blank">{ACTIVATION_LINK}</a>
<br/><br/>
Votre mot de passe a été stocké de manière sécurisée dans notre base de données et ne pourra pas être retrouvé. Dans le cas où vous l'auriez oublié, vous pourrez le réinitialiser en utilisant l'adresse e-mail associée à votre compte.
<br/><br/>
Merci de vous être enregistré,
<hr width="200" align="left" /><br/>
{SIGNATURE}