#Ignore config files
build.properties
build.espantapajaros.properties
build.local.properties
Config.php

#Ignore temp files
*~
*.swp

#Ignore settings and compilation dirs
.settings/
bin-debug/
bin-release/
dist/