Hello {USERNAME}!
<br/><br/>
These are your personal keys for accessing {PROJECT_NAME}'s API from the {DOMAIN} domain.
<br/>
<table width="400" cellpadding="0" cellspacing="0" border="0" style="padding:20px;">
<tr><td><strong>Access Key:</strong> {ACCESS_KEY}</td></tr>
<tr><td><strong>Secret Access Key:</strong> {SECRET_ACCESS_KEY}</td></tr>
</table>
<br/>
<strong>Notice:</strong> 
<ul>
<li>The keys will be emailed <strong>only once</strong>, so keep them somewhere safe.</li>
<li>Never use your 'Secret Access Key' on the clear, it should only be stored in a server you trust, and not available to user-agent</li>
</ul>
<br/><br/>
Thank you for choosing {PROJECT_NAME},
<hr width="400" align="left" /><br/>
{SIGNATURE}