<h3>Bienvenido a {PROJECT_NAME}.</h3>
<br/>
Por favor guarde este email para futuras referencias. La información de su cuenta es la siguiente:
<br/>
<table width="200" cellpadding="0" cellspacing="0" border="0" style="padding:20px;">
<tr><td><strong>Nombre de usuario:</strong> {USERNAME}</td></tr>
<tr><td><strong>Dirección web:</strong> {PROJECT_SITE}</td></tr>
</table>
Por favor visite el siguiente enlace para activar su cuenta:
<br>
<a href="{ACTIVATION_LINK}" target="_blank">{ACTIVATION_LINK}</a>
<br/><br/>
Su contraseña ha sido guardada de forma segura en nuestra base de datos y no puede ser recuperada. En el caso de que la olvide tendrá la posibilidad de regenerarla usando la misma dirección de correo electrónico asociada a su cuenta.
<br/><br/>
Gracias por registrarse.
<hr width="200" align="left" /><br/>
{SIGNATURE}