<?php
	
	//This file stores the info needed to connect to the application's database
	class Config{
	
		public static const FFMPEG = 'ffmpeg';
		public static const LIBAV = 'libav';
	
		public $host = '';
		public $db_username = '';
		public $db_password = '';
		public $db_name = 'babelium';
		
		public $red5Path = '/opt/red5/webapps/vod/streams';
		
		//SMTP server settings
		public $smtp_server_host = 'smtp.googlemail.com';
		public $smtp_server_auth = 'login';
		public $smtp_server_username = '';
		public $smtp_server_password = '';
		public $smtp_server_ssl = 'ssl';
		public $smtp_server_port = 465;
		public $smtp_mail_setFromMail = 'register@babeliumproject.com';
		public $smtp_mail_setFromName = 'Babelium Project Admin';
		
		//Video encoding constants
		public $frameHeight = 240;
		public $frameWidth16_9 = 426;
		public $frameWidth4_3 = 320;
		
		public $mediaToolSuite = FFMPEG;
		
		//Absolute path to media tools. If empty points to system's PATH.
		public $mediaToolHome = '';
		
		//Absolute path of external commands (or path available in the PATH of all system users)
		public $fileCmdPath = 'file';
		public $soxCmdPath = 'sox';
		
		//Absolute path to log folder (should be writeable by www-data)
		public $logPath = '';

		
		/*
		 * PHP CLI gets no value from $_SERVER ['DOCUMENT_ROOT'] so we must use getcwd() and 
		 * cut off the subfolders or use a variable and remember to change it.
		 */ 
		public $webRootPath = "/var/www/babelium";
		
		public function __construct(){
			if(!empty($_SERVER ['DOCUMENT_ROOT'])){
				$this->filePath = $_SERVER ['DOCUMENT_ROOT'] . "/resources/uploads";
				$this->imagePath = $_SERVER ['DOCUMENT_ROOT'] . "/resources/images/thumbs";
				$this->posterPath = $_SERVER ['DOCUMENT_ROOT'] . "/resources/images/posters";
				$this->templatePath = $_SERVER ['DOCUMENT_ROOT'] . "/resources/templates";
				$this->indexPath = $_SERVER ['DOCUMENT_ROOT'] . "/resources/searchIndexes";
			} else {
				$this->filePath = $this->webRootPath . "/resources/uploads";
				$this->imagePath = $this->webRootPath . "/resources/images/thumbs";
				$this->posterPath = $this->webRootPath . "/resources/images/posters";
				$this->templatePath = $this->webRootPath . "/resources/templates";
				$this->indexPath = $this->webRootPath . "/resources/searchIndexes";
			}	
		}
	}
	
?>
