/* Application main stylesheet */

/* NOTE: FLEX doesn't support descendant selectors */


/* Styles applied by default on specified components */

Application{
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #e5ecf2, #f9f9f9;
	verticalAlign: top;
	verticalGap: 0;
	horizontalAlign: center;
	borderSides: 0;
	paddingTop: 0;
	paddingBottom: 5;
	fontFamily: Arial;
	fontSize: 12;
	fontWeight: normal;
	color: #000000;
}	

LinkButton{
	fontWeight: normal;
}

Label{
	fontWeight: normal;
}

Panel{
	backgroundColor: #FFFFFF;
	borderThickness: 1;
	borderStyle: solid;
	borderColor: #AAAAAA;
	dropShadowEnabled: false;
	cornerRadius: 6;
	color: #2B333C;
	fontSize: 12;
	paddingBottom: 2;
	paddingLeft: 2;
	paddingRight: 2;
	headerHeight: 19;
	headerColors: #919191, #FFFFFF;
	footerColors: #9DB6D9, #FFFFFF;
	roundedBottomCorners: true;
}

CustomAlert{
	fontSize: 11;
	backgroundColor: #FFFFFF;
	borderColor: #E5E8EA;
	borderThickness: 1;
	borderStyle: solid;
	dropShadowEnabled: true;
	dropShadowColor: #000000;
	cornerRadius: 6;
	color: #2B333C;
	paddingBottom: 2;
	paddingLeft: 2;
	paddingRight: 2;
	headerHeight: 19;
	headerColors: #919191, #FFFFFF;
	footerColors: #9DB6D9, #FFFFFF;
	borderColor: #AAAAAA;
}

HeaderClass{
	paddingTop: 4;
	paddingBottom: 4;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 0.5;
	borderStyle: "solid";
	borderSides: "left bottom right";
	borderThickness: 1;
	borderColor: #92d3d5;
}

Button{
	paddingLeft: 6;
	paddingRight: 6;
	cornerRadius: 8;
}

TextInput{
	fontWeight: normal;
}

/* Commonly used component style variants */

.boldLinkButton{
	fontWeight: bold;
}

.blueLinkButton{
	rollOverColor: #268caa;
	selectionColor: #268caa;
	color: #268caa;
	textRollOverColor: #f9f9f9;
	textSelectedColor: #f9f9f9;
}

.yellowLinkButton{
	fontWeight: bold;
	color: #cc9900;
	rollOverColor: #cc9900;
	selectionColor: #cc9900;
	textRollOverColor: #f9f9f9;
	textSelectedColor: #f9f9f9;
}

.creditLinkButton{
	fontWeight: bold;
	color: #e3bb03;
	rollOverColor: #e3bb03;
	selectionColor: #e3bb03;
	textRollOverColor: #f9f9f9;
	textSelectedColor: #f9f9f9;
	fontSize: 14;
}

.boldLabel{
	fontWeight: bold;
}

.boldYellowLabel{
	fontWeight: bold;
	fontSize: 14;
	color: #b29e39;
}

.lightGreyLabel{
	color: #797977;
}

.boldDarkGreyLabel{
	fontWeight: bold;
	color: #454543;
}

.boldDarkerGreyLabel{
	fontWeight: bold;
	color: #999999;
}

.hvCenteredBox{
	horizontalAlign: "center";
	verticalAlign: "middle";
}

/* Navigation menu style properties */

.uploadSearchBox{
	borderStyle: "solid";
	borderSides: "top bottom";
	borderThickness: 1;
	borderColor: #92d3d5;
	backgroundColor: #dae9ed;
	horizontalAlign: "right";
	verticalAlign: "middle";
	paddingTop: 4;
	paddingBottom: 4;
	paddingLeft: 250;
	paddingRight: 8;
}

.searchTextInput{
	borderStyle: "solid";
	borderColor: #92D3D5;
	cornerRadius: 8;
}

.homeLinkButton{
	rollOverColor: #258daa;
	selectionColor: #20778f;
	color: #258daa;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontSize: 18;
	fontWeight: bold;
}

.practiceLinkButton{
	rollOverColor: #38bcbe;
	selectionColor: #2d9a9b;
	color: #38bcbe;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontSize: 18;
	fontWeight: bold;
}

.evaluateLinkButton{
	rollOverColor: #7b980a;
	selectionColor: #607707;
	color: #7b980a;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontSize: 18;
	fontWeight: bold;
}

.subtitleLinkButton{
	rollOverColor: #962b07;
	selectionColor: #752105;
	color: #962b07;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontSize: 18;
	fontWeight: bold;
}

.configureLinkButton{
	rollOverColor: #de5c04;
	selectionColor: #bf4f04;
	color: #de5c04;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontSize: 18;
	fontWeight: bold;
}

.aboutLinkButton{
	rollOverColor: #e6ce56;
	selectionColor: #c0ac47;
	color: #e6ce56;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontSize: 18;
	fontWeight: bold;
}

.searchButton{
	fontSize: 14;
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #92d377, #92d377;
	highlightAlphas: 0, 0;
	paddingLeft: 6;
	paddingRight: 6;
	cornerRadius: 8;
	color: #92D3D5;
	borderColor: #92D3D5;
	
}

.uploadButton{
	fontSize: 14;
	fillAlphas: 1.0, 0.5, 0.5, 0.5;
	fillColors: #FFC960, #FFEA60, #FF9860, #FFB260;
	paddingLeft: 6;
	paddingRight: 6;
	cornerRadius: 8;
}

/* Pagination control styles */

.paginationButton{
	cornerRadius: 20;
	paddingLeft: 0;
	paddingRight: 0;
	highlightAlphas: 0.52, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #ffffff, #ffffff, #fccb39, #d5ac32;
	color: #d5ac32;
	textRollOverColor: #ffffff;
	textSelectedColor: #fccb39;
	borderColor: #e1ded8;
	themeColor: #d5ac32;
	fontSize: 14;
	fontWeight: bold;
}

.paginationControlButton{
	cornerRadius: 20;
	paddingLeft: 1;
	paddingRight: 1;
	highlightAlphas: 0.52, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #ffffff, #ffffff, #fccb39, #d5ac32;
	color: #d5ac32;
	textRollOverColor: #ffffff;
	textSelectedColor: #fccb39;
	borderColor: #e1ded8;
	themeColor: #d5ac32;
	fontSize: 14;
	fontWeight: bold;
}

/* Exercise info box styles */

.videoDurationLabel{
	disabledColor: #FFFFFF;
	backgroundDisabledColor: #000000;
	backgroundAlpha: 0.75;
	borderStyle: none;
	fontSize: 10;
}

.errorLabel{
	fontWeight: bold;
	color: red;
}

.roundedBlueBorderBox{
	cornerRadius: 8;
	borderStyle: solid;
	borderColor: #92d3d5;
	paddingTop: 10;
	paddingBottom: 10;
	paddingLeft: 10;
	paddingRight: 10;
}

.sectionInfoTitleLabel{
	fontWeight: bold;
	fontSize: 24;
	color: #972c0a;	
}

.sectionTitleLabel{
	fontWeight: bold;
	fontSize: 20;
	color: #268caa;
}

.sectionTitleHRule{
	strokeWidht: 4;
	strokeColor: #268caa;
}

.sectionLowerTitleLabel{
	fontWeight: bold;
	fontSize: 18;
	color: #aaaaaa;
}

.bigBlueButton{
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 4;
	paddingBottom: 4;
	cornerRadius: 10;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #31b5de, #207791, #ffffff, #f9f9f9;
	color: #ffffff;
	textRollOverColor: #31b5de;
	textSelectedColor: #207791;
	borderColor: #31b5de;
	themeColor: #f9f9f9;
	fontSize: 14;
	fontWeight: bold;
}

.sectionInfoBox{
	backgroundColor: #f0f3e2;
	borderSides: bottom;
	borderStyle: solid;
	borderColor: #92d3d5;
	paddingTop: 16;
	paddingLeft: 16;
	paddingRight: 16;
}

.roundedPurpleBox{
	cornerRadius: 4;
	borderStyle: solid;
	backgroundColor: #9AA3B9;
	borderColor: #FFFFFF;
	alpha: 1.0;
	borderThickness: 0;
	horizontalAlign: center;
	verticalAlign: middle;
	paddingLeft: 6;
	paddingRight: 6;
}

.roundedBorderGreyBox{
	paddingLeft: 4;
	paddingRight: 4;
	borderStyle: solid;
	cornerRadius: 8;
	backgroundColor: #DDDDDD;
	verticalAlign: middle;
	horizontalAlign: center;
}

.roundedBorderWhiteBox{
	fontSize: 10;
	borderStyle: solid;
	borderThickness: 1;
	cornerRadius: 4;
	borderColor: #cccccc;
	backgroundColor: #ffffff;
	horizontalAlign: center;
	verticalAlign: middle;
	paddingTop: 0;
	paddingBottom: 0;
}

.creditHighlightLink{
	fontSize: 14;
	fontWeight: bold;
	color: #FFFFFF;
	themeColor: #FFFFFF;
}

.configResultBox{
	paddingTop: 12;
	paddingLeft: 16;
	paddingRight: 16;
	borderStyle: solid;
	borderSides: right;
	borderColor: #92d3d5;
}

.padding10AllSidesBox{
	paddingTop: 10;
	paddingLeft: 10;
	paddingRight: 10;
	paddingBottom: 10;
}

.padding20AllSidesBox{
	paddingTop: 20;
	paddingLeft: 20;
	paddingRight: 20;
	paddingBottom: 20;
}

.bwResultLabel{
	color: #425fd9;
	fontSize: 25;
	fontWeight: bold;
}
